{% include 'base.html' %}
{% include 'navigation.html' %}


{% block content %}

    <div class="container">
        <h1 class="text-center" style="margin-top: 50px;">About Us</h1>
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="strong">Who we are & <br> What we do</h1>
                    <p class="lead">This is the world's leading portal for <br> easy and quik!</p>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, voluptatum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, voluptatum.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, voluptatum.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, voluptatum.
                    </p>
                </div>

                <div class="row">
                    <div class="site-heading text-center">
                        <h3>Our Team</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut maxime atque, iste doloribus fugiat officiis nulla vel, quos eveniet labore, sequi architecto recusandae repellat. Autem, odio modi!</p>
                        <div class="border"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% include 'footer.html' %}


